run = "npm run dev"
port = 3000
modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[nix]
channel = "stable-22_11"
packages = ["nano", "postgresql_11", "psmisc", "tree"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3100
externalPort = 5173

[[ports]]
localPort = 4983
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 5001

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5004
externalPort = 3003

[[ports]]
localPort = 5005
externalPort = 5000
